@page
@model TruckManagement.Pages.Deliveries.EditModel

@{
    ViewData["Title"] = "EditStatus";
}

<h1>Edit Status</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Delivery.ID" />
             <input type="hidden" asp-for="Delivery.StartLocation" />
            <input type="hidden" asp-for="Delivery.EndLocation" />
              <input type="hidden" asp-for="Delivery.UserID" />
              <input type="hidden" asp-for="Delivery.PhoneNumber" />
            <div class="form-group">
                <label asp-for="Delivery.StatusID" class="control-label">Status Name</label>
                <select asp-for="Delivery.StatusID" class="form-control" asp-items="ViewBag.StatusID">
                </select>
                <span asp-validation-for="Delivery.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
